name: Server Setup Test

on:
  push:
    branches: [ main ]

jobs:
  server-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
          
      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest
              
      - name: Copy /tests from feature/testing
        run: |
          git fetch origin feature/testing:feature/testing
          git checkout feature/testing -- tests/
        
      - name: Install Dependencies
        run: bun i

      - name: Populate URLs
        run: |
          bun run data urls
          echo "https://github.com/jclarkDM/better-census/releases/download/data/age.zip" >> data/urls.txt
          echo "https://github.com/jclarkDM/better-census/releases/download/data/cb_2023_us_place_500k.zip" >> data/urls.txt
          echo "https://github.com/jclarkDM/better-census/releases/download/data/cb_2023_us_cousub_500k.zip" >> data/urls.txt

      - name: Test the Server
        run: |
          bun i -D wait-on
          bun run server &
          bunx wait-on http-get://localhost:1776
          bun run data collect
          bun -e "console.log(require('./tests/validation.json').map(x => x.GEOIDFQ).join('|'))" | xargs bun run etl --live --geoid
          bun test
        env:
          BETTER_CENSUS_PORT: 1776
